<html>
<head>
  <title>First CRUD app</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">First CRUD app</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>First CRUD app!</h1>
      <p>This is my First CRUD app. Submit a quote and its author below to add it to the list.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

      <ul class="quotes">
        <% for(var i=0; i<quotes.length; i++) {%>
          <li class="quote">
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span>
          </li>
        <% } %>
      </ul>
    
    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="quote" name="quote">
      <button type="submit">Submit</button>
    </form>
    
    </div>
  </div>
</body>
</html>